<connectionStrings>
  <!--<add name="NWDB"
       connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security=true" providerName="System.Data.SqlClient"/>-->
  <!--The other add is for when you are at home or at someplace else just remove the comment tags-->
  <add name="NWDB"
     connectionString="Data Source=LAPTOP-AJQLDD8V\SQLSERVER; Initial Catalog=Northwind_CPSC1517; Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>
