@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid Destination";
    var passedValue = Request.QueryString["pid"];
}

@section banner{
    <h1>DataBase: WebGrid Query</h1>
}

<div>
    <h4>You passed the value of @passedValue</h4>
</div>
